*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}
.titulo-principal{
    color: black;
    text-align: center;
    font-size: 60px;
    width: 1190px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.424);
}
.banner{
    height: 480px;
    width: 1190px;
    background-position: center;
}
.subtitulo{
    height: 50px;
    width: 1190px;
    color: white;   
    text-align: center;
    font-size: 30px;
    background-color: black;
    margin-top: 15px;
}
.links{
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    font-size: 15px;
}
.links a{
    display: block;
    margin: 35px;
}
#logo{
    height: 190px;
    width: 190px;
    left: 950px;
    bottom: 18px;
    position: absolute;
}
.info{
    display: inline-block;
}
.info h4, p{
    display: block;
    margin: 10px 0px 0px 300px;
}
.info h4{
    font-style: oblique;
    margin-top: 20px;
}