*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.main-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px; 
}
.titulo-principal{
    color: black;
    font-size: 60px;
    padding: 10px;
    width: 1460px;
    position: absolute;
    background-color: #ecab0f;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.banner{
    height: 580px;
    width: 1460px;
    background-position: center;
    display: block;
    display: flex;
    border-bottom: 5px solid #ecab0f;
}
.links{
    display: flex;
    position: absolute;
    font-size: 20px;
    bottom: 500px;
    left: 100px;
    gap: 30px;
    flex-direction: column;
    top: 150px;
}
.links a{
    padding: 5px;
    border-radius: 5px;
    background-color: #ecab0f;
    color: white;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
#logo{
    height: 120px;
    width: 150px;
    left: 1200px;
    top: 0px;
    position:absolute;
}
.subtitulo{
    height: 53px;
    width: 600px;
    padding: 10px;
    color: black;   
    font-size: 30px;
    background-color: #ecab0f;
    border: 3px solid gray;
    text-align: center;
    align-self: center;
}
.info h4, p{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info{
    width: 600px;
    background-color: whitesmoke;
    border: 3px solid rgba(128, 128, 128, 0.202);
    align-self: center;
    text-indent: 20px;
}
.main-about{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.valores{
    position: absolute;
    width: 1460px;
}
.img1{
    width: 380px;
    height: 210px;
    display: inline;
    margin-top: 150px;
    margin-left: 70px;
    border: 2px solid #ecab0f;
}
.rules{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.main-contact{
    display: flex;
    flex-direction: column;
}
.info-contact{
    width: 100%;
    top: 700px;
    font-size: 20px;
    text-align: center;
}
.rules h2{
    background-color: #ecab0f;
    color: white;
    padding: 20px;
    width: 1460px;
    text-align: center;
}
.rules h3{
    background-color: gray;
    color: white;
    width: 1460px;
    padding: 15px;
}
.regulations{
    width: 1460px;
    list-style: inside;
    display: flex;
    flex-direction: column;
}
.sportm{
    width: 1460px;
}
#min-alfa{
    list-style-type: lower-latin;
}
span{
    color: red;
    font-weight: bold;
}
dt{
    font-weight: bold;
    margin: 10px;
}
.linea{
    height: 3px;
    width: 1460px;
    background-color: #ecab0f;
    display: flex;
    margin: auto;
    margin-bottom: 5px;
  }
dd{
    padding: 15px;
}
.main-rules{
    display: flex;
    flex-direction: column;
}
